* {
  margin: 0;
  padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4px;
    padding: 20px 20px 20px 20px;
}

.container > div {
  border: 1px solid #999; /* shows the grid cell boundaries REMOVE*/
  background-color: whitesmoke;
  padding: 15px;
}

.header {
    background-color: greenyellow;
}

.sidebar {
    background-color: blue;
}

.content {
    background-color: gray;
}
